<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Query Viewer</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Choose Card</h1>
    <br />
    <ul>
      <li>
        <form method="GET" action="/new/card/debit">
          <button type="submit" class="btn-gradient cyan">Add Debit Card</button>
        </form>
      </li>
      <li>
        <form method="GET" action="/new/card/crebit">
          <button type="submit" class="btn-gradient cyan">Add Credit Card</button>
        </form>
      </li>
      <li>
        <form method="GET" action="/new/card/rocket">
          <button type="submit" class="btn-gradient cyan">Add Rocket</button>
        </form>
      </li>
    </ul>
  </body>
</html>
