<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Get Services Accounts</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <h1>Get Services Accounts</h1>
    <br />

    <div class="code-container">
      <h2>
        <p>SELECT C.card_no as payer_card, C.card_holder_name as payer_name,  </p>
        <p>			SA.service_account_type AS payees_acc_type, SA.service_acc AS payee_acc, T.amount AS amount </p>
        <p>FROM cards C, services_accounts SA, transactions T </p>
        <p>WHERE T.trx_id = input.trx_id </p>
        <p>  AND C.card_no = input.trx_id </p>
        <p>  AND T.payees_acc = SA.services_account_id </p>
      </h2>
    </div>

    <br />
    

    <div class="row">
      <form method="POST" action="/service/accounts">
        <span>
          <input
            class="swing"
            id="trxId"
            type="text"
            placeholder="Transaction ID"
            name="trxId"
          /><label for="trxId">Transaction ID</label>
        </span>
        <button type="submit" class="btn-gradient cyan">Submit</button>
      </form>
    </div>

    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <td><strong>payer_card</strong></td>
            <td><strong>payer_name</strong></td>
            <td><strong>payees_acc_type</strong></td>
            <td><strong>payee_acc</strong></td>
            <td><strong>amount</strong></td>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          {{#userInfo}}
          <tr>
            <td>{{ payer_card }}</td>
            <td>{{ payer_name }}</td>
            <td>{{ payees_acc_type }}</td>
            <td>{{ payee_acc }}</td>
            <td>{{ amount }}</td>
          </tr>
          {{/userInfo}}
        </tbody>
      </table>
    </div>

    <br />
    <div class="query-page-btn">
      <form method="GET" action="/query">
        <button type="submit" class="btn-gradient cyan">
          Main Query List page
        </button>
      </form>
    </div>
    <br />
    <br />

    <script>
      $(window)
        .on("load resize ", function() {
          var scrollWidth =
            $(".tbl-content").width() - $(".tbl-content table").width();
          $(".tbl-header").css({ "padding-right": scrollWidth });
        })
        .resize();
    </script>
  </body>
</html>
