<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Show User's Billers</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <h1>Show User's Billers</h1>
    <br />

    <div class="code-container">
      <h2>
        <p>SELECT U.user_id as u_id , U.username as u_name, U.mobile_no as u_mobile, B.biller_name</p>
        <p>	as b_name, UB.biller_nick_name as b_nick_name, B.account_no as b_acc</p>
        <p>FROM users U, user_specific_billers UB, biller_accounts B</p>
        <p>WHERE U.mobile_no = input.mobile_no</p>
        <p>      AND U.pin = input.pin</p>
        <p>      AND UB.user_id = U.user_id</p>
        <p>      AND UB.biller_name = B.biller_name;</p>
      </h2>
    </div>

    <br />
    

    <div class="row">
      <form method="POST" action="/user/biller">
        <span>
          <input
            class="swing"
            id="mobileNo"
            type="text"
            placeholder="Mobile No"
            name="mobileNo"
          /><label for="mobileNo">Mobile</label>
        </span>
        <span>
          <input
            class="swing"
            id="pin"
            type="password"
            placeholder="Pin"
            name="pin"
          /><label for="pin">Pin</label>
        </span>
        <button type="submit" class="btn-gradient cyan">Submit</button>
      </form>
    </div>

    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <td><strong>u_id</strong></td>
            <td><strong>u_name</strong></td>
            <td><strong>u_mobile</strong></td>
            <td><strong>b_name</strong></td>
            <td><strong>b_nick_name</strong></td>
            <td><strong>b_acc</strong></td>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          {{#userInfo}}
            <tr>
                <td>{{ u_id }}</td>
                <td>{{ u_name }}</td>
                <td>{{ u_mobile }}</td>
                <td>{{ b_name }}</td>
                <td>{{ b_nick_name }}</td>
                <td>{{ b_acc }}</td>
            </tr>
          {{/userInfo}}
        </tbody>
      </table>
    </div>

    <br />
    <div class="query-page-btn">
      <form method="GET" action="/query">
        <button type="submit" class="btn-gradient cyan">
          Main Query List page
        </button>
      </form>
    </div>
    <br />
    <br />

    <script>
      $(window)
        .on("load resize ", function() {
          var scrollWidth =
            $(".tbl-content").width() - $(".tbl-content table").width();
          $(".tbl-header").css({ "padding-right": scrollWidth });
        })
        .resize();
    </script>
  </body>
</html>
